* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 14px;
}
body {
    margin: 0;
    font-family: Helvetica;
    background-color: rgb(174, 63, 49);
    color: #fff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px 160px 1fr;
    grid-template-areas: 
        "nav"
        "hdr"
        "content"
    ;
    position: relative;
}

nav {
    grid-area: "nav";
    background-color: rgb(195, 70, 54);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
}
/* needs sizing fixing */
.smashing-icon {
    padding-top: 12px;
    width: 15%;
}
/* needs sizing fixing */
.menu {
    border: 3px solid #fff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 30%;
    padding: 2.5% 0;
    border-radius: 10px;
}

header {
    grid-area: "hdr";
    text-align: center;
    padding-top: 40px;
}
header>span {
    font-size: 160%;
    font-weight: 600;
    color: #000;
    background-color: #fff;
    line-height: 1.5;
    padding: 10px;
}

.main-content {
    grid-area: "content";
    display: flex;
    flex-direction: column;
}

.main-content>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.main-content>div:nth-child(2) {
    background-color: rgb(195, 70, 54);
}
.main-content>div:nth-child(3) {
    background-color: rgb(164, 59, 45);
}

.main-content>div>div {
    margin: 5px;
    padding: 0 5%;
}

.author {
    display: flex;
}
.author>img {
    transform: scale(0.8) rotateZ(calc(-11 * 1deg));
    border: 5px solid #fff;
    border-radius: 10px;
}
.author>p {
    padding: 25px 0 0 10px;
    font-weight: bold;
}
.wrote {
    font-weight: 100;
    font-style: italic;
}

.article-title {
    font-weight: 500;
    font-size: 180%;
}
.article-main>p {
    padding: 10px 5px;
}
.fa-comment-alt {
    padding: 0 5px;
}
 /*  */
.hashtags {
    padding: 0 10px;
    display: flex;
    flex-wrap: wrap;
    /* flex-basis: auto;
    height: 80%; */
    /* align-items: flex-start; */
}
.hashtags>p {
    position: relative;
    padding: 0 20px;
}
.hashtag {
    color: #000;
}
.hashtag-number {
    font-size: 60%;
    position: absolute;
    top: 0;
    right: 5px;
}
/*  */
.article-link {
    padding: 0 10px;
}
.fa-long-arrow-alt-right {
    color: #fff;
}
/* needs css sticky */
.back-to-top {
    position: absolute;
    right: 10px;
    bottom: 10px;
    height: 30px;
    width: 30px;
    background-color: #000;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.fa-chevron-up {
    color: #fff;
}
/* needs css sticky */
@media (min-width: 768px) {
    body {
        grid-template-columns: 1fr;
        grid-template-rows: 160px 160px 1fr;
        grid-template-areas: 
            "nav"
            "hdr"
            "content"
        ;
        height: 100vh;
    }
    .main-content {
        grid-area: "content";
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    /* need to figure out how to split header background color */
    /* also need to add nav items */
}